*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
   display: flex;
   justify-content: space-between;
   background-color: #e8eefa;
   padding: 12px;
}

.headerLeftItem{
   display: flex;
   align-items: center;
   gap: 10px;
}

.headerRightItem{
   display: flex;
   align-items: center;
   gap: 7px;
}

.headerLeftItem-2{
   font-size: 30px;
}

.headerRightItem button{
   border: none;
   background-color: #e8eefa;
}
