*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
   display: flex;
   justify-content: space-between;
   background-color: #e8eefa;
   padding: 12px;
}

.headerLeftItem{
   display: flex;
   align-items: center;
   gap: 10px;
}

.headerRightItem{
   display: flex;
   align-items: center;
   gap: 7px;
}

.headerLeftItem-2{
   font-size: 30px;
}

.headerRightItem button{
   border: none;
   background-color: #e8eefa;
}

main{
   display: flex;
    justify-content: center;
    height: 34vw;
}

.productContainer{
   width: 36%;    
    height: fit-content;
    margin-top: 125px;
    background-color: #e8eefa;
    padding-bottom:40px;
}

.productheader{
   display: flex;
    justify-content: space-between;
    padding: 20px;
}

.productBody{
   background-color: #79d1d2;
    padding: 30px;
    margin: 15px;
    border-radius: 15px;
}

.productItem{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.productItemImage img{
   width: 75px;
   height: 75px;
   border-radius: 50%;
}

.productAddbtn{
   border: 1px solid blue;
    border-radius: 10px;
    padding: 4px;
}

.productfnBtn{
   border: none;
   background-color: #79d1d2;
}

.productfns{
   color:#0000ff;
   padding: 0 20px;
   font-size: 20px;
}

.error{
   color: #ff0000;
   padding: 5px;
   font-size: 12px;
}

.carousel-item img{
   width: 100%;
}

.dropdown-menu li{
    display: flex;
    align-items: center;
}



